body {
    background-color: #000; /* 黒系背景 */
    color: #fff; /* 白文字 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Archivo Black', serif;
    /* font-family: 'Arial', sans-serif; */
  }
  
  .time-container {
    font-size: 5rem;
    letter-spacing: 10px;
    display: flex;
  }
  
  .digit {
    display: inline-block;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  