body {
  background-color: #000;
  color: #fff;
  /* height: 100vh; */

  margin: 0;
  font-family: 'Archivo Black', serif;
  font-family: "DotGothic16", serif;
  /* font-family: "Kosugi Maru", serif; */
  /* font-family: "Dela Gothic One", serif; */
  position: relative;
}

.hideo{
  font-size: 3rem;
  position: absolute;
  top: 10px;
  right: 30px;
  color: rgb(0, 255, 0);
  opacity: 0;
}


.clock_container_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: black;
  /* background-color: beige; */
  user-select: none;

}

.clock_container_relative {
  width: 400px;
  height: 400px;
  /* background-color: olive; */
  /* background-color: rgba(80, 80,200, 0.2);  */
  /* opacity: 0.3; */
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url('./src/dot.png'), auto;
}

.hover-target {
  cursor: url('./src/dot.png'), auto;
}


.digits {
  font-size: 5rem;
  letter-spacing: -12px;
  user-select: none;
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  /* justify-content: center; */
}

.digit {
  /* display: inline-block; */
  animation: fadeIn 0.5s ease-in-out;
  /* animation: moveRight 2s infinite alternate; */
  font-weight: bold;
  transform: scaleX(1.2);
  /* letter-spacing: 0.1rem;  */
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
    background: red;
  }

  50% {
    background: orange;
  }

  100% {
    transform: translateX(200px);
    background: yellow;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInBnc {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  80% {
    transform: translateY(-2px);
    /* opacity: ; */
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.toggleBtn{
  position: absolute;
  /* background-color: wheat; */
  top: 60px;
}

#toggleLing {
  left: 130px;
  animation: fadeInBnc 0.1s ease-in-out;
}

#toggleDate {
  animation: fadeInBnc 0.2s ease-in-out;
}

#toggleBell {
  right: 130px;
  animation: fadeInBnc 0.3s ease-in-out;
}

#toggleBell.no-before::before {
  opacity: 0;
}

/* .draggable { */
/* width: 100px; */
/* height: 50px; */
/* background-color: steelblue; */
/* position: absolute; */
/* position: relative; */
/* cursor: grab; */
/* user-select: none; */
/* } */
/* 
.disabled {
    /* background-color: lightgray; */
/* cursor: not-allowed; */
/* } */

.button_container {
  margin-bottom: 20px;
}

#date_type1 {
  position: absolute;
  font-size: 1.4rem;
  top: 110px;
  margin: 0 auto;
}


.circle {
  width: 100%;
  height: 100%;
  /* background-color: green; */
  border-radius: 50%;
  position: relative;
}
.circle-inner {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
}
.over_circle {
  width: 110%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
  opacity: 0;
}


.knob {
  width: 20px;
  height: 20px;

  background: linear-gradient(90deg, white, darkgray);
  border-radius: 50%;
  
  position: absolute;
  top: 30px;
  text-align: center;
  cursor: grab;
}


.time {
  position: absolute;
  top: 240px;
  font-size: 20px;
  font-weight: bold;
}

.end-time {
  position: absolute;
  top: 280px;
  font-size: 16px;
  color: darkgray;
}



.fade-content {
  color: olivedrab;
  font-size: 30px;
  opacity: 0;
  display: none;
  transition: opacity 0.1s ease;
}

.clock_container_relative:hover .fade-content {
  opacity: 1;
  display: block;
}